*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.hero{
    width: 100;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
 width: 100px;
 padding-right:0px ;
 margin-right: 0px;
 cursor: pointer;   
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor:pointer;
}
.content{
    color: #fbfcfd;
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.font{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#0007);
    position: absolute;
    right: 0;
    top: 0;

}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

/* .social-links , .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;

}
.social-links{
    width: 50px;
    text-align:center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.social-links{
    width: 50px;
    text-align:center;
    position: absolute;
    bottom: 30px;
} */

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
0%{
transform: translateY(0);opacity: 0;
}
50%{
opacity: 1;
}
70%{
opacity: 1;
}
100%{
transform: translateY(-80vh);opacity: 0;
}
}

.bubbles img:nth-child(1){
animation-delay: 2s;
width: 25px;
}
.bubbles img:nth-child(2){
animation-delay: 1s;

}
.bubbles img:nth-child(3){
animation-delay: 3s;
width: 25px;
}
.bubbles img:nth-child(4){
animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
animation-delay: 3s;
}
.bubbles img:nth-child(6){
animation-delay: 6s;
width: 20px;
}
.bubbles img:nth-child(7){
animation-delay: 7s;
width: 35px;
}



.c-checkbox {
    display: none;
}
.c-checkbox:checked + .c-formContainer .c-form {
    width: 37.5em;
}
.c-checkbox:checked + .c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
}
.c-checkbox:checked + .c-formContainer .c-form__input, .c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
    content: 'Thank You! \1F60A';
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
    pointer-events: none;
    cursor: default;
}
.c-formContainer, .c-form, .c-form__toggle {
    width: 20em;
    height: 6.25em;
}
.c-formContainer {
    position: relative;
    font-weight: 700;
}
.c-form, .c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: #fff;
    transition: 0.2s;
}
.c-form {
    left: 95%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}
.c-form__toggle {
    color: #ff7b73;
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-form__toggle::before {
    font-size: 1.75em;
    content: attr(data-title);
}
.c-form__input, .c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}
.c-form__input, .c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}
.c-form__input {
    color: #fcc;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}
.c-form__input::placeholder {
    color: currentColor;
}
.c-form__input:required:valid {
    color: #ff7b73;
}
.c-form__input:required:valid + .c-form__buttonLabel {
    color: #fff;
}
/* .c-form__input:required:valid + .c-form__buttonLabel::before {
    pointer-events: initial;
} */
.c-form__buttonLabel {
    color: #ffaea9;
    height: 100%;
    width: auto;
}
.c-form__buttonLabel::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}
.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: #ff7b73;
}

